@import './var.scss';

/* 毛细线部分 */
@mixin borderDir($dir, $width: $border-width, $color: $border-color) {
  border-#{$dir}: $width solid $color;
  /* 未来可能会加入毛细线方案吧 */
}
@mixin border($color: $border-color, $width: $border-width) {
  border: $width solid $color;
}
@mixin border-top($color: $border-color, $width: $border-width) {
  @include borderDir(top, $width, $color);
}
@mixin border-bottom($color: $border-color, $width: $border-width) {
  @include borderDir(bottom, $width, $color);
}
@mixin border-left($color: $border-color, $width: $border-width) {
  @include borderDir(left, $width, $color);
}
@mixin border-right($color: $border-color, $width: $border-width) {
  @include borderDir(right, $width, $color);
}

/* 圆角部分 */
@mixin radius($radius: $radius-md, $overflow: hidden) {
  border-radius: $radius;
  overflow: $overflow;
}
@mixin radius-circle() {
  @include radius($radius-circle);
}
@mixin radius-round() {
  @include radius($radius-round);
}

@mixin border-build() {
  @each $dir in left, right, top, bottom {
    .border-#{$dir} {
      @include borderDir($dir);
    }
  }
  .border {
    @include border();
  }
  .radius {
    @include radius();
  }
  .radius-circle {
    @include radius-circle();
  }
  .radius-round {
    @include radius-round();
  }
}
