@mixin input-file($children: $input-file-children) {
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  @each $child in $children {
    & > #{$child} {
      position: absolute;
      left: -999em;
    }
  }
}

@mixin pure() {
  @include reset();
}

@mixin form-build() {
  label.input-file {
    @include input-file();
  }
  .pure {
    @include pure();
  }
}
