@import './var.scss';

/* margin */
@mixin marginDir($dir, $i, $important: null) {
  @if ($important == true) {
    $important: !important;
  }
  margin-#{$dir}: #{$i} $important;
}
@mixin marginL($i, $important) {
  @include marginDir('left', $i, $important);
}
@mixin marginR($i, $important) {
  @include marginDir('right', $i, $important);
}
@mixin marginT($i, $important) {
  @include marginDir('top', $i, $important);
}
@mixin marginB($i, $important) {
  @include marginDir('bottom', $i, $important);
}

/* 两边间隙 */
@mixin margin($n: $row-gap) {
  margin: $n;
}
@mixin margin-row($n: $row-gap) {
  margin-left: $n;
  margin-right: $n;
}
@mixin margin-col($n: $row-gap) {
  margin-top: $n;
  margin-bottom: $n;
}

/* padding */
@mixin paddingDir($dir, $i, $important: null) {
  @if ($important == true) {
    $important: !important;
  }
  padding-#{$dir}: #{$i} $important;
}

/* 两边间隙 */
@mixin padding($n: $row-gap) {
  padding: $n;
}
@mixin padding-row($n: $row-gap) {
  padding-left: $n;
  padding-right: $n;
}
@mixin padding-col($n: $row-gap) {
  padding-top: $n;
  padding-bottom: $n;
}

/* 其他间隙 */
@mixin margin-center() {
  @include margin-row(auto);
}

/* 导出结果 */
@mixin gap-build() {
  @each $dir in left, right, top, bottom {
    @for $i from 1 through 10 {
      .margin-#{$dir}-#{$i*5} {
        @include marginDir($dir, $i * $child-gap);
      }
    }
  }

  @each $dir in left, right, top, bottom {
    @for $i from 1 through 10 {
      .padding-#{$dir}-#{$i*5} {
        @include paddingDir($dir, $i * $child-gap);
      }
    }
  }

  @each $dir in right, bottom {
    @for $i from 1 through 10 {
      .gap-#{$dir}-#{$i*5} {
        @include child-map {
          @include marginDir($dir, $i * $child-gap);
        }
      }
    }
  }

  .margin-center {
    @include margin-center();
  }
}
