@function px($px) {
  @return $px * 1px;
}

$row-gap: px(15);
$col-gap: px(10);
$child-gap: px(10);

$radius-md: px(4);
$radius-round: 1000em;
$radius-circle: 50%;

$border-width: 1PX;
$border-color: #e8e8e8;

$flex-grow-children: '.grow';
$flex-shrink-children: '';
$flex-column-grow-children: '.item', '.col';
$float-row-children: '*';
$inblock-row-children: '*';
$child-gap-children: '';
$child-gap-children-not: ':last-of-type';
$input-file-children: '[type="file"]';
$image-ratio-children: '*';
